.big-card {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 20%);
    position: fixed;
    top: calc(-50vh + 50%);
    left: calc(-50vw + 50%);
    z-index: 2;
    cursor: auto;
}

.big-card__content {
    width: 850px;
    height: 550px;
    background-color: white;
    position: relative;
    left: calc(50% - 425px);
    top: calc(50% - 275px);
    border-radius: 25px;
    display: flex;
}

.big-card__image {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2%;
    height: auto;
    width: 45%;
    padding-right: 10px;
}

.big-card__name {
    text-align: center;
    margin-top: 12px;
}

.big-card__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.big-card__button {
    height: 45px;
    margin-bottom: 12px;
}

.big-card__close:hover {
    right: -20px;
    top: 10px;
    width: 3.5%;
    height: auto;
}

.big-card__description {
    margin: 0 0 6px 0;
}