.big-card {
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 20%);
    position: fixed;
    top: calc(-50vw + 50%);
    left: calc(-50vw + 50%);
    z-index: 2;
    cursor: auto;
}

.big-card__content {
    width: 1000px;
    height: 650px;
    background-color: white;
    position: relative;
    left: calc(50% - 500px);
    top: calc(50% - 325px);
    border-radius: 25px;
    display: flex;
}

.big-card__image {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 40px;
    height: 460px;
    width: 460px;
    padding-right: 10px;
}

.big-card__name {
    text-align: center;
    margin-top: 28px;
}

.big-card__info {
    padding-right: 40px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-card__button {
    margin-top: 20px;
    margin-bottom: 28px;
    height: 45px;
}

.big-card__close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    left: calc(50% + 516px);
    top: calc(50% - 316px);
    filter:  brightness(0) invert(1);
    transition-property: width, height, left, top;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.big-card__close:hover {
    width: 30px;
    height: 30px;
    left: calc(50% + 513px);
    top: calc(50% - 319px);
}