.big-card {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 20%);
    position: fixed;
    top: calc(-50vh + 50%);
    left: calc(-50vw + 50%);
    z-index: 2;
    cursor: auto;
}

.content {
    width: 850px;
    height: 550px;
    background-color: white;
    position: relative;
    left: calc(50% - 425px);
    top: calc(50% - 275px);
    border-radius: 25px;
    display: flex;
}

.description {
    margin: 0;
}

.image {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.left {
    width: 48%;
}

.size {
    margin: 76px auto 0 auto;
    height: 30px;
    width: 70%;
    border: 1px solid rgb(226, 226, 233);
    background-color: rgb(226, 226, 233);
    border-radius: 25px;
    display: flex;
    cursor: pointer;
}

.small {
    padding-top: 4px;
    margin: 0;
    text-align: center;
    border-radius: 25px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid rgb(226, 226, 233);
    background-color: white;
    box-shadow: rgba(6, 5, 50, 0.12) 1px 1px 5px;
}

.big {
    margin: 0;
    border-radius: 25px;
    border: none;
    padding-top: 4px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
}

.name {
    text-align: center;
    margin-top: 12px;
    line-height: 36px;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    height: 45px;
    margin-bottom: 12px;
}

.close:hover {
    right: -20px;
    top: 10px;
    width: 3.5%;
    height: auto;
}

.price {
    color: white;
}