.enterActive {
    border: rgb(226, 226, 233);;
    background-color: rgb(226, 226, 233);
    box-shadow: none;
}

.enterDone {
    border: 1px solid rgb(226, 226, 233);
    background-color: white;
    box-shadow: rgba(6, 5, 50, 0.12) 1px 1px 5px;
    transition: background-color 300ms, box-shadow 300ms;
}

.exitActive {
    border: 1px solid rgb(226, 226, 233);
    background-color: white;
    box-shadow: rgba(6, 5, 50, 0.12) 1px 1px 5px;
}

.exitDone {
    border: none;
    background-color: rgb(226, 226, 233);
    box-shadow: none;
    transition: background-color 300ms, box-shadow 300ms;
}