.cart__value {
    display: flex;
    justify-content: space-between;
}

.cart__total {
    margin-left: 20px;
}

.cart__price {
    margin-right: 20px;
}

.cart {
    height: 100%;
    max-width: 80%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__name {
    text-align: center;
}

.cart__sorry {
    text-align: center;
}

.cart__items {
    flex-grow: 1;
    padding-top: 20px;
}