.cart__value {
    display: flex;
    justify-content: space-between;
    text-align: bottom;
    align-items: flex-end;
}

.cart__total {
    margin-left: 20px;
}

.cart__price {
    margin-right: 20px;
}

.cart {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__name {
    text-align: center;
}