.topping-false {
    cursor: pointer;
    height: 49%;
    width: 32%;
    border-radius: 18px;
    margin-bottom: 2.5%;
    box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 16px;
}

.topping-true {
    cursor: pointer;
    height: 49%;
    width: 32%;
    border-radius: 18px;
    margin-bottom: 2.5%;
    border: 1px solid rgb(24, 24, 24, 0.6);
    box-sizing: border-box;
}

.topping-false .topping__image {
    width: 70%;
    height: auto;
    padding: 6px 18px 0px 18px;
} 

.topping-true .topping__image {
    width: 70%;
    height: auto;
    padding: 5px 18px 0px 18px;
}

.topping__name {
    text-align: center;
}

.topping__price {
    text-align: center;
}