.topping {
    cursor: pointer;
    height: 49%;
    width: 32%;
    border-radius: 18px;
    margin-bottom: 2.5%;
    border: 1px solid white;
    box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 16px;
}

.topping-true {
    cursor: pointer;
    height: 49%;
    width: 32%;
    border-radius: 18px;
    margin-bottom: 2.5%;
    box-sizing: border-box;
}

.topping .topping__image {
    width: 70%;
    height: auto;
    padding: 6px 18px 0px 18px;
} 

.topping-true .topping__image {
    width: 70%;
    height: auto;
    padding: 5px 18px 0px 18px;
}

.topping__name {
    text-align: center;
}

.topping__price {
    text-align: center;
}

.topping__animation-enter {
    border: 1px solid white;
    box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 16px;
}

.topping__animation-enter-active {
    border: 1px solid rgb(24, 24, 24, 0.6);
    box-shadow: rgba(6, 5, 50, 0) 0px 4px 16px;
    transition: border 300ms, box-shadow 300ms ease-in-out;
}

.topping__animation-enter-done {
    border: 1px solid rgb(24, 24, 24, 0.6);
    box-shadow: rgba(6, 5, 50, 0) 0px 4px 16px;
}

.topping__animation-exit {
    border: 1px solid rgb(24, 24, 24, 0.6);
    box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 16px;
}

.topping__animation-exit-active {
    border: 1px solid white;
    transition: border 300ms, box-shadow 300ms ease-in-out;
    box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 16px;
}

.topping__animation-exit-done {
    border: 1px solid white;    
    box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 16px;
}