.title {
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
}

.text {
    text-align: right;
}

.error {
    margin-top: 20px;
    text-align: center;
}

.nextbooking {
    min-height: 220px;
}