.email {
    font-size: 16px;
}

.setbtn {
    height: 30px;
}

.settxt {
    color: white;
    margin: 0;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile-info p {
    margin: 0;
}

.name {
    font-size: 20px;
    margin: 0;
}