.book__title {
    text-align: center;
}

.book {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.book__submit {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.book__submit:hover {
    background-color: rgb(42, 42, 42);
}